html{
    scroll-behavior: smooth;
}

body{
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-size: 12px; 
}

.floating{
    position: fixed;
    top:0;
    width: 100%;
    display: block;
    background-color: #242424;
    height:10%;
    box-shadow: 2px 2px 5px #000000;
    overflow: hidden;
    z-index: 10;
}

footer{
    width:98%;
    /*height:4%;*/
    font-size: 12pt;
    color: navy;
    background-color: #242424;
    padding-left: 2%;
    margin-top:1%;
    overflow: hidden;
}