html{
    scroll-behavior: smooth;
}

body{
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-size: 12px; 
}

.floating{
    position: fixed;
    top:0;
    width: 100%;
    display: block;
    background-color: #242424;
    height:10%;
    box-shadow: 2px 2px 5px #000000;
    overflow: hidden;
    z-index: 10;
}

footer{
    width:98%;
    /*height:4%;*/
    font-size: 12pt;
    color: white;
    background-color: #242424;
    padding-left: 2%;
    margin-top:1%;
    overflow: hidden;
}

nav #a{
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    float: left;
    font-size: 5vh;
    color: rgb(255, 204, 220);
    /*    margin: 1%;
    margin-top: 0.5%; */
    padding: 1%;
    padding-top: 2.2%;
}

nav #b, #c, #d{
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-size: 2.4vh;
    float: right;
    color: white;
    font-weight: 50px;
    padding: 1%;
    padding-top: 2.2%;

}

nav #b:hover, #c:hover, #d:hover{
    font-family: "Bodoni MT", Didot, "Didot LT STD", "Book Antiqua", Garamond, "Times New Roman", serif;
    font-size: 2.4vh;
    float: right;
    color: #fe71aa;
    font-weight: 50px;
    padding: 1%;
    padding-top: 2.2%;
}